

@media only screen and (max-width:1024px){html{font-size:136.53px;}}
@media only screen and (max-width:768px){html{font-size:102.4px;}}
@media only screen and (max-width:750px){html{font-size:100px;}}

@media only screen and (max-width:540px){html{font-size:72px;}}
@media only screen and (max-width:480px){html{font-size:64px;}}
@media only screen and (max-width:414px){html{font-size:55.2px;}}
@media only screen and (max-width:375px){html{font-size:50px;}}
@media only screen and (max-width:360px){html{font-size:48px;}}
@media only screen and (max-width:320px){html{font-size:42.6667px;}}
@media only screen and (max-height:500px){
   .header, .bottomBtnBox{ position: static !important;}
}